.sortable {
	position: relative;
	overflow: hidden;

	.sortable-list {
		position: relative;
		top: 0;
		left: 0;

		@if $ui-transitions {
			transition: left .2s, top .2s;
		}
	}

	.sortable-item {
		box-sizing: border-box;

		@if $ui-transitions {
			&:not(.sortable-dragging) {
				transition: left .2s, top .2s;
			}
		}
	}

	&.sortable-dragging {
		.sortable-item {
			position: absolute;
		}
	}

	&.sortable-opacity {
		.sortable-item {
			&.sortable-dragging {
				opacity: 0.6;
				z-index: 1;
			}
		}
	}
}
